<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${treatment.name}">treatment</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<div>
    <h1><span th:text="${treatment.name}">Service Name</span></h1>
    Price: <span th:text="${treatment.getPrice()}">Service Name</span>
    <br/>
    Description: <span th:text="${treatment.name}">Service Description</span>
    <br/>
    Treatment time: <span th:text="${treatment.getTreatmentTime()}">Service Treatment Time</span>
</div>
<br/>
<a href="/treatments">Go to treatments list</a>
<br/>
<hr/>
<div th:if="${user.getRole().getRole().equals('ROLE_ADMIN')}">
    <form th:action="@{/treatments/{id}/delete(id=${treatment.id})}" th:method="POST">
        <input th:type='hidden' th:value='${_csrf.token}' th:name='${_csrf.parameterName}'/>
        <button id="submitButton">Delete</button>
    </form>
</div>
</body>
</html>