<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<meta charset="UTF-8">
<title>Work Week</title>
</head>
<body>
<sapn>Doctor</sapn>
<span th:text="${doctorWorkWeek.doctor.lastName}">doctor last name</span><span>work week</span> <br/>

<div th:each="workDay : ${doctorWorkWeek.daysOfWeek.values()}">
    <div>
        <span th:text="${workDay.dayOfWeek.toString()}">Day of week</span>
        <span>Start at <span th:text="${workDay.workStartAt}">Work start at</span></span>
        <span>Finish at <span th:text="${workDay.workFinishAt}">Work finish at</span></span>
    </div>
</div>

</body>
</html>