<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Doctor</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
First name: <span th:text="${doctor.firstName}">First name</span><br/>
Last name: <span th:text="${doctor.lastName}">Last name</span><br/>
Speciality: <span th:text="${doctor.speciality}">Speciality</span><br/>
<a th:href="@{/doctors/{id}/work-week/create (id=${doctor.id})}">Create Schedule</a><br/>
<a th:href="@{/doctors/{id}/work-week (id=${doctor.id})}">Show doctor work week</a><br/>
<a th:href="@{/doctors/{id}/weekend-days/create-form (id=${doctor.id})}">Create weekend days</a><br/>
<a th:href="@{/doctors/{id}/weekend-days (id=${doctor.id})}">Show weekend days</a>
</body>
</html>