<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
Schedule
<form method="post" th:object="${workWeek}">

    <div id="monday">
        <label for="mondayStart"> Monday Start </label> <br/>
        <input id="mondayStart" type="time" th:field="*{mondayStart}"/>
        <br/>
        <label for="mondayFinish"> Monday Finish </label> <br/>
        <input id="mondayFinish" th:type="time" th:field="*{mondayFinish}"/>
        <br/>
    </div>

    <div id="tuesday">
        <label for="tuesdayStart"> Tuesday Start </label> <br/>
        <input id="tuesdayStart" th:type="time" th:field="*{tuesdayStart}"/>
        <br/>
        <label for="tuesdayFinish"> Tuesday Finish </label> <br/>
        <input id="tuesdayFinish" th:type="time" th:field="*{tuesdayFinish}"/>
        <br/>
    </div>

    <div id="wednesday">
        <label for="wednesdayStart"> Wednesday Start </label> <br/>
        <input id="wednesdayStart" th:type="time" th:field="*{wednesdayStart}"/>
        <br/>
        <label for="wednesdayFinish"> Wednesday Finish </label> <br/>
        <input id="wednesdayFinish" th:type="time" th:field="*{wednesdayFinish}"/>
        <br/>
    </div>

    <div id="thursday">
        <label for="thursdayStart"> Thursday Start </label> <br/>
        <input id="thursdayStart" th:type="time" th:field="*{thursdayStart}"/>
        <br/>
        <label for="thursdayFinish"> Thursday Finish </label> <br/>
        <input id="thursdayFinish" th:type="time" th:field="*{thursdayFinish}"/>
        <br/>
    </div>

    <div id="friday">
        <label for="fridayStart"> Friday Start </label> <br/>
        <input id="fridayStart" th:type="time" th:field="*{fridayStart}"/>
        <br/>
        <label for="fridayFinish"> Friday Finish </label> <br/>
        <input id="fridayFinish" th:type="time" th:field="*{fridayFinish}"/>
        <br/>
    </div>

    <div id="saturday">
        <label for="saturdayStart"> Saturday Start </label> <br/>
        <input id="saturdayStart" th:type="time" th:field="*{saturdayStart}"/>
        <br/>
        <label for="saturdayFinish"> Saturday Finish </label> <br/>
        <input id="saturdayFinish" th:type="time" th:field="*{saturdayFinish}"/>
        <br/>
    </div>

    <div id="sunday">
        <label for="sundayStart"> Sunday Start </label> <br/>
        <input id="sundayStart" type="time" th:field="*{sundayStart}"/>
        <br/>
        <label for="sundayFinish"> Sunday Finish </label> <br/>
        <input id="sundayFinish" type="time" th:field="*{sundayFinish}"/>
        <br/>
    </div>

    <button>Submit</button>

    <input th:type='hidden' th:value='${_csrf.token}' th:name='${_csrf.parameterName}'/>
</form>
</body>
</html>